* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 50px;
}
img {
  width: 400px;
}
body {
  display: flex;
  justify-content: center;
}
